﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tunix</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
    <link rel="stylesheet" href="~/css/responsive.css" />
    <link rel="stylesheet" href="~/css/tvmode.css" />
</head>
    <body>
        <div class="container-fluid">
            <div id="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div id="menu" class="container-fluid">
                <div class="row">
                    <div class="menu-content col-2 col-sm-2 col-md-4 col-lg-4 col-xl-5">
                    </div>
                    <div class="menu-content col-8 col-sm-8 col-md-4 col-lg-4 col-xl-2">
                        <a><img class="LogoHome" alt="Logo" src="img/LogoTunixBlue.png" /></a>
                        <a asp-page="/Index">Home</a>
                        <a asp-page="/Dashboard">Dashboard</a>
                        <a asp-page="/Tv_mode">TV-mode</a>
                    </div>
                    <div class="menu-content col-2 col-sm-2 col-md-4 col-lg-4 col-xl-5">
                    </div>
                </div>
            </div>
            @RenderBody()
        </div>
    </body>
</html>
<script src="~/js/menu.js" asp-append-version="true"></script>
<script src="~/js/ellipsis.js" asp-append-version="true"></script>
<script src="~/js/progress.js" asp-append-version="true"></script>
<script src="~/js/tv-mode.js" asp-append-version="true"></script>
