﻿html {
    height: auto;
    min-height: 100%;
}

body {
    height: 300vh;
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
    line-height: 1;
    background-color: #1F2833;
}

#content {
    width: 100%;
    height: 300vh;
}

#content .section {
    padding: 0px;
    margin: 0px;
}

#content .section .searchBlock {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #1F2833;
    margin: 0px;
}

#content .section .searchBlock .titleBlock {
    width: 100%;
    margin: 0px;
    height: 112px;
}

#content .section .searchBlock .titleBlock .titleContainer {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 75px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0px;
    margin: 20px 0px 0px 0px;
}

#content .section .searchBlock .titleBlock .titleContainer span {
    padding: 0px 0px 0px 20px;
}

#content .section .searchBlock .inputBlock {
    margin: 0px auto;
    height: calc(100% - 212px);
    width: 60%;
}

#content .section .searchBlock .inputBlock .inputContainer {
    margin: 0px;
    padding: 0px;    
    text-align: center;
    height: 64px;
}

#content .section .searchBlock .inputBlock .inputContainer input {
    width: 100%;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    background-color: #1F2833;
    border: none;
    color: white;
    border-bottom: 1px solid #66fcf1;
}

#content .section .searchBlock .inputBlock .inputContainer input:focus {
    outline: none;
}

#content .section .searchBlock .searchContainer {
    height: calc(100% - 64px);
    margin: 0px auto;
    overflow-y: scroll;
    padding: 0px;
}


#content .section .searchBlock .searchContainer::-webkit-scrollbar {
    display: none;
}

#content {
    width: 100%;
    height: 300vh;
}

#content .section:nth-child(2) {
    padding: 50px 0px;
    margin: 0px;
}

#content .section .playlistBlock {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #1F2833;
    margin: 0px;
}

#content .section .playlistBlock .titleBlock {
    width: 100%;
    margin: 0px;
    height: 112px;
}

#content .section .playlistBlock .titleBlock .titleContainer {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 75px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0px;
    margin: 20px 0px 0px 0px;
}

#content .section .playlistBlock .titleBlock .titleContainer span {
    padding: 0px 0px 0px 20px;
}

#content .section .playlistBlock .coverOuter {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 500px;
    outline: none;
    padding: 0px;
    transform: translateX(-50%) translateY(-50%);
    transition: all .9s;
    z-index: 1;
}

#content .section .playlistBlock .coverOuter .coverInner {
    position: relative;
    padding: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#content .section .playlistBlock .coverOuter .coverInner img {
    width: 100%;
    height: 100%;
}

#content .section .playlistBlock .coverOuter:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 3;
    background: linear-gradient(0deg,#1F2833 5%,rgba(36,36,36,0) 75%);
}

#content .section .playlistBlock .coverOuter .transition {
    opacity: 1;
}

#content .section .playlistBlock .queueBlock {
    width: 100%;
    height: calc(100% - 112px);
    position: relative;
    background-color: #1F2833;
    margin: 0px;
}

#content .section .playlistBlock .queueBlock .queueContainer {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 1;
    overflow-x: hidden;
    position: absolute;
    padding: 0px 0px 0px 15px;
    direction: rtl;
}

#content .section .playlistBlock .queueBlock .queueContainer::-webkit-scrollbar {
    width: 5px;
    min-height: 250px;
}

#content .section .playlistBlock .queueBlock .queueContainer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    margin: 50px 0px;
}

#content .section .playlistBlock .queueBlock .queueContainer::-webkit-scrollbar-thumb {
    background: #66FCF1;
}

#content .section .playlistBlock .queueBlock .queueContainer::-webkit-scrollbar-thumb:hover {
    background: #66FCF1;
    cursor: pointer;
}

#content .section .playlistBlock .queueBlock .queueContainer ul {
    list-style: none;
    margin: auto;
    padding: 0px;
}

#content .section .playlistBlock .queueBlock .queueContainer ul li {
    text-overflow: ellipsis;
    position: relative;
    text-align: left;
    width: 100%;
    padding: 0px 0px 30px 0px;
    z-index: 2;
}

#content .section .playlistBlock .queueBlock .queueContainer ul li:hover > a:nth-child(odd) {
    font-size: 55px;
    line-height: 60px;
}

#content .section .playlistBlock .queueBlock .queueContainer ul li:hover > a:nth-child(even) {
    font-size: 22.5px;
    line-height: 27.5px;
}

#content .section .playlistBlock .queueBlock .queueContainer ul li a {
    display: block;
    color: white;
    text-decoration: none;
    opacity: 1;
    transition: all 0.3s;
}

#content .section .playlistBlock .queueBlock .queueContainer ul li a:nth-child(odd) {
    font-family: 'Montserrat', sans-serif;
    line-height: 55px;
    font-size: 50px;
    font-weight: 800;
    color: white;
    padding: 0px 0px 2.5px 0px;
}

#content .section .playlistBlock .queueBlock .queueContainer ul li a:nth-child(even) {
    font-family: 'Roboto', sans-serif;
    line-height: 22.5px;
    font-size: 17.5px;
    font-weight: 600;
    color: gray;
}

#content {
    width: 100%;
    height: 300vh;
}

#content .section {
    padding: 0px;
    margin: 0px;
}

#content .section .inspirationBlock {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #1F2833;
    margin: 0px;
}

#content .section .inspirationBlock .titleBlock {
    width: 100%;
    margin: 0px;
    height: 112px;
}

#content .section .inspirationBlock .titleBlock .titleContainer {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 75px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0px;
    margin: 20px 0px 0px 0px;
}

#content .section .inspirationBlock .titleBlock .titleContainer span {
    padding: 0px 0px 0px 20px;
}

#content .section .inspirationBlock .carouselBlock {
    width: 100%;
    height: calc(100% - 187px);
    padding: 0px;
    margin: 0px;
    position: relative;
    overflow: hidden;
}

#content .section .inspirationBlock .carouselBlock .slideOuter {
    position: absolute;
    height: auto;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    outline: none;
    padding: 0px;
    transform: translateY(-50%) translateX(0px);
    transition: all .9s;
}

#content .section .inspirationBlock .carouselBlock .slideOuter.selected {
    left: 50%;
    z-index: 10;
    transform: translateY(0px) translateX(-50%);
    transition: all 0.9s;
}

#content .section .inspirationBlock .carouselBlock .slideOuter.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(0px) translateX(-60%) scale(0.8);
    filter: blur(1.5px) grayscale(50%);
    transition: all 0.9s;
    box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.75);
}

#content .section .inspirationBlock .carouselBlock .slideOuter.next {
    z-index: 5;
    left: 70%;
    transform: translateY(0px) translateX(-40%) scale(0.8);
    filter: blur(1.5px) grayscale(50%);
    transition: all 0.9s;
    box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.75);
}

#content .section .inspirationBlock .carouselBlock .slideOuter.nextSecond {
    z-index: 4;
    left: 100%;
    transform: translateY(0px) translateX(-70%) scale(0.8);
    filter: blur(1.5px) grayscale(100%);
    transition: all 0.9s;
    box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.75);
}

#content .section .inspirationBlock .carouselBlock .slideOuter.prevSecond {
    z-index: 4;
    left: 0%;
    transform: translateY(0px) translateX(-30%) scale(0.8);
    filter: blur(1.5px) grayscale(100%);
    transition: all 0.9s;
    box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.75);
}

#content .section .inspirationBlock .carouselBlock .slideOuter.nextHide {
    z-index: 3;
    left: 100%;
    transform: translateY(0px) translateX(15%) scale(0.8);
    filter: blur(1.5px) grayscale(100%);
    transition: all 0.9s;
    box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.75);
}

#content .section .inspirationBlock .carouselBlock .slideOuter.prevHide {
    z-index: 3;
    left: 0%;
    transform: translateY(0px) translateX(-115%) scale(0.8);
    filter: blur(1.5px) grayscale(100%);
    transition: all 0.9s;
    box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.75);
}

#content .section .inspirationBlock .carouselBlock .slideOuter:not(.selected) .slideInfo {
    opacity: 0;
    transition: all 0.9s;
}

#content .section .inspirationBlock .carouselBlock .slideOuter .slideInner {
    position: relative;
    max-width: 500px;
    max-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px -25px 20px -20px rgba(0,0,0,0.75);
}

#content .section .inspirationBlock .carouselBlock .slideOuter .slideInner:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(5%,#1F2833),color-stop(75%,rgba(35,35,35,0)));
    background: linear-gradient(0deg,#1F2833 5%,rgba(36,36,36,0) 75%);
    -webkit-transition: all .9s;
    transition: all .9s;
}

#content .section .inspirationBlock .carouselBlock .slideOuter .slideInner .slideInfo {
    left: 50%;
    color: white;
    bottom: -35px;
    z-index: 10;
    width: 100%;
    max-width: 500px;
    position: absolute;
    font-size: 50px;
    transform: translateX(-50%);
    text-align: center;
    transition: all .3s;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

#content .section .inspirationBlock .carouselBlock .slideOuter .slideInner img {
    width: 100%;
    height: auto;
}

#content .section .consoleBlock {
    color: white;
    width: 100%;
    height: auto;
    margin: 0px;
    height: 75px;
}

#content .section .consoleBlock .consoleContainer {
    text-align: center;
    font-size: 45px;
}

#content .section .consoleBlock .consoleContainer i {
    bottom: 15px;
    cursor: pointer;
}

#content .section .consoleBlock .consoleContainer i:nth-child(1) {
    margin: 0px 50px 0px 0px;
}

#content .section .consoleBlock .consoleContainer i:nth-child(2) {
    margin: 0px 0px 0px 50px;
}

@media screen and (max-width: 830px) {
    #content .section .searchBlock .inputBlock .inputContainer {
        height: 5.989vw;
    }

    #content .section .searchBlock .inputBlock .inputContainer input {
        font-size: 5.989vw;
    }

    #content .section .playlistBlock .queueBlock .queueContainer ul li {
        padding: 0px 0px 10px 0px;
    }

    #content .section .playlistBlock .queueBlock .queueContainer ul li:hover > a:nth-child(odd) {
        font-size: 5.989vw;
        line-height: 6.250vw;
    }

    #content .section .playlistBlock .queueBlock .queueContainer ul li:hover > a:nth-child(even) {
        font-size: 3.906vw;
        line-height: 4.166vw;
    }

    #content .section .playlistBlock .queueBlock .queueContainer ul li a:nth-child(odd) {
        font-size: 5.989vw;
        line-height: 6.250vw;
    }

    #content .section .playlistBlock .queueBlock .queueContainer ul li a:nth-child(even) {
        font-size: 3.906vw;
        line-height: 4.166vw;
        font-weight: 500;
    }

    @keyframes finger {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    #ScrollIcon {
        border-radius: 7px;
    }

}

#content .section .searchBlock .searchContainer .searchResult .searchSong {
    background-color: #1F2833;
    color: white;
    width: 100%;
    font-size: 22px;
    text-align: left;
    overflow: hidden;
    word-break: break-all;
    padding: 0px 0px 15px 0px;
}


#content .searchSong .songTitle {
    width: 100%;
    font-size: 1.562vw;
}

#content .searchSong .songArtist {
    width: 100%;
    font-size: 1.562vw;
}

#content .searchSong .songInfo {
    padding: 15px;
}

#content .songCover {
    height: 100%;
}

#content .songCover img {
    height: 100%;
    width: 100%;
}

#content .addSong {
    height: 100%;
    padding: 0px;
}

#content .addSong i {
    color: #66FCF1;
    text-align: center;
    font-size: 2.604vw;
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

#content .addSong i:hover {
    cursor: pointer;
}

#content .songTitle {
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    font-size: 25px;
    font-weight: 600;
    padding: 0px 0px 10px 0px;
}

#content .songArtist {
    font-family: 'Montserrat', sans-serif;
    color: gray;
    font-weight: 600;
    padding: 0px;
}

.scrollContainer {
    width: 100%;
    height: 100px;
}

.ScrollIcon {
    position: relative;
    width: 22px;
    height: 42px;
    left: 50%;
    bottom: -10px;
    margin-left: -12px;
    border-radius: 15px;
    border: 2px solid #888;
    animation: intro 1s;
}

.Finger {
    position: absolute;
    display: block;
    width: 3px;
    height: 3px;
    margin: 6px auto;
    left: 7px;
    border-radius: 4px;
    background-color: #888;
    animation: finger 1s infinite;
}

@keyframes intro {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes finger {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}



@media screen and (max-width: 1024px) {
    #content .section .searchBlock .inputBlock {
        width: 80%;
    }

    #content .searchSong .songTitle {
        font-size: 3.125vw;
        padding: 0px 0px 5px 0px;
    }

    #content .searchSong .songArtist {
        font-size: 3.125vw;
    }

    #content .addSong i {
        font-size: 4.427vw;
    }

    #content .searchSong .songInfo {
        padding: 5px;
    }
}

@media screen and (max-width: 630px) {
    #content .section .playlistBlock .playlistWrapper .playlistContainer {
        padding: 0px;
    }

    #content .section .searchBlock .titleBlock {
        height: 17.979vw;
    }

    #content .section .searchBlock .titleBlock .titleContainer {
        font-size: 11.021vw;
        margin: 5px 0px 0px 0px;
    }

    #content .section .searchBlock .inputBlock {
        height: calc(100% - 17.979vw - 100px);
    }

    #content .section .playlistBlock .titleBlock {
        height: 17.979vw;
    }

    #content .section .playlistBlock .titleBlock .titleContainer {
        font-size: 11.021vw;
        margin: 5px 0px 0px 0px;
    }

    #content .section .playlistBlock .queueBlock {
        height: calc(100% - 17.979vw);
    }

    #content .section .inspirationBlock .titleBlock {
        height: 17.979vw;
    }

    #content .section .inspirationBlock .titleBlock .titleContainer {
        font-size: 11.021vw;
        margin: 5px 0px 0px 0px;
    }

    #content .section .inspirationBlock .carouselBlock {
        height: calc(100% - 17.979vw - 75px);
    }
}

@media screen and (max-width: 425px) {
    #content .section .inspirationBlock {
        width: 100%;
        padding: 0px 15px;
    }

    #content .section .searchBlock .titleBlock .titleContainer {
        padding: 0px 0px 0px 15px;
    }

    #content .section .searchBlock .titleBlock .titleContainer span {
        padding: 0px 0px 0px 0px;
    }

    #content .section .playlistBlock .titleBlock .titleContainer {
        padding: 0px 0px 0px 15px;
    }

    #content .section .playlistBlock .titleBlock .titleContainer span {
        padding: 0px 0px 0px 0px;
    }

    #content .section .inspirationBlock .titleBlock .titleContainer {
        padding: 0px 0px 0px 0px;
    }

    #content .section .inspirationBlock .titleBlock .titleContainer span {
        padding: 0px 0px 0px 0px;
    }

    #content .section .inspirationBlock .slideOuter .slideInner .slideInfo {
        bottom: -15px !important;
        font-size: 20px !important;
    }
}
 

