﻿/* home */

.container-fluid{
    padding:0!important;
}

.row{
    margin:0!important;
}

#content {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    background-color: #0B0C10;
}

#content .loader {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    position: absolute;
    z-index: 999;
    overflow: hidden;
}

#content .loader.hideBlock {
    transform: translateY(-150%);
    transition: transform 3s;
}

#content .loader .backgroundBlock {
    width: 100%;
    height: 100%;
    position: absolute;
}

#content .loader .backgroundBlock .backgroundContent {
    right: 0;
    bottom: 0;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}

#content .loader .backgroundBlock .backgroundContent .backgroundVideo {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
}

#content .loader .introBlock {
    width: 100%;
    height: 100%;
    margin: 0px;
    position: absolute;
}

#content .loader .introBlock .introContent {
    top: 7.812vw;
    left: 18.229vw;
    position: fixed;
}

#content .loader .introBlock .introContent .parText {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

#content .loader .introBlock .introContent .title {
    margin: 0;
    display: block;
    padding: 0px;
    position: relative;
    font-size: 10.069vw;
    font-weight: 700;
    line-height: 10.069vw;
    font-weight: bold;
    margin-bottom: 0;
}

#content .loader .introBlock .introContent .title .extraTitle {
    top: 1.031vw;
    left: 9.375vw;
    width: auto;
    height: auto;
    display: block;
    position: absolute;
    animation: topFadeIn 2.5s;
    font-size: 0.833vw;
    font-weight: 600;
    line-height: 1.25vw;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#content .loader .introBlock .introContent .first {
    font-size: 10.416vw;
    animation: fadeIn 2s;
}

#content .loader .introBlock .introContent .second {
    left: 0;
    animation: leftFadeIn 2.5s;
    line-height: 18.059vh;
    margin-left: -8.55vw;
}

#content .loader .introBlock .introContent .second .title {
    font-size: 7.031vw;
}

#content .loader .introBlock .introContent .third {
    left: 0;
    animation: rightFadeIn 2.5s;
    line-height: 18.059vh;
    margin-left: 11.718vw;
}

#content .loader .introBlock .introContent .third .title {
    font-size: 7.031vw;
}

#content .loader .arrowBlock {
    width: 100%;
    height: 75px;
    margin: 0px;
    bottom: 0px;
    position: absolute;
}

#content .loader .arrowBlock .arrowContent {
    animation: fadeIn 2.5s, bounce 2s infinite;
}

#content .loader .arrowBlock .arrowContent .fas {
    left: 50%;
    color: white;
    cursor: pointer;
    position: absolute;
    font-size: 50px;
    transform: translateY(0px) translateX(-50%);
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@keyframes topFadeIn {
    0% {
        top: -100px;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes leftFadeIn {
    0% {
        left: -10.416vw;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rightFadeIn {
    0% {
        left: 10.416vw;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.background-home {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:0;
}

.row-home {
    height: 100vh;
    white-space: nowrap;
    overflow: hidden;
}

.buttons .buttons-row {
    position: absolute;
    bottom: 15vw;
}

.trap .trap-row {
    position: absolute;
    right: 0;
    bottom: 20vw;
}

.pijltje {
    color: #1f2833;
    font-size: 28px;
    position: absolute;
    top: 31px;
    right: 30px;
    transition-timing-function: ease-out;
    transition: 1s;
}

.createButton {
    background-color: white;
    border: none;
    border-radius: 15px;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 22px;
    padding-left: 15px;
    color: #1f2833;
    width: 100%;
    height: 50px;
    transition-timing-function: ease-in;
    transition-duration: 0.3s;
    margin: 2.259vh 0 2.259vh 0;
}

.createButton:hover {
    background-color: #66fcf1;
    color: white;
    transition: 0.2s;
}

.createButton:hover > .fas {
    color: white;
    transition-timing-function: ease-out;
    transition: 0.2s;
}

.createButton:hover:after > .fas {
    transition-timing-function: linear;
    transition: 0.5s;
    transition-delay: 1s;
}

.joinButton {
    background-color: white;
    border: none;
    border-radius: 15px;
    text-align: left;
    font-family: 'Montserrat';
    font-size: 22px;
    padding-left: 15px;
    color: #1f2833;
    width: 100%;
    height: 50px;
    transition-timing-function: ease-in;
    transition-duration: 0.3s;
    margin: 2.259vh 0 2.259vh 0;
}

.joinButton:hover {
    background-color: #66fcf1;
    color: white;
    transition: 0.3s;
}

.joinButton:hover > .fas {
    color: white;
    transition-timing-function: ease-out;
    transition: 0.3s;
}

.trap span {
    font-family: "Montserrat";
    font-weight: bold;
    color: white;
    font-size: 55px;
    line-height: 65px;
    transition: all .4s;
}

.choiceLine {
    transform: skew(0deg,-25deg) scaleY(1.33333);
    white-space: nowrap;
    overflow: hidden;
}

.partyStartedLine {
    transform: skew(60deg,-25deg) scaleY(0.59999);
    padding-left: 38px;
    white-space: nowrap;
    overflow: hidden;
}

.orLine {
    transform: skew(0deg,-25deg) scaleY(1.33333);
    padding-left: 68px;
    white-space: nowrap;
    overflow: hidden;
}

.crashPartyLine {
    transform: skew(60deg,-25deg) scaleY(0.59999);
    padding-left: 101px;
    white-space: nowrap;
    overflow: hidden;
}

.PartyCodeBar {
    /*position: absolute;
    display: inline-block;
    top: -7vh;
    right: -1vw;
    left: -2vw;
    padding-left: 15px;
    transition: all .3s;*/
}

.Bar {
    font-weight: bolder;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-size: 25px;
    text-align: center;
    width: 100%;
    background-color: #1f2833;
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid #66fcf1;
}


