﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: Roboto;
    font-weight: 500;
}
 
p {
    margin: 0;
}

.container-fluid{
    padding:0;
}

.col{
    padding:0;
}

.row{
    margin:0;
}

/* notification */
.jumbotron {
    padding: 10px;
    width: 10vw;
    height: auto;
    position: absolute;
    right: 50px;
    top: 50px;
    font-size: 20px;
    text-align:center;
    margin:0!important;
}

.jumbotron p{
    margin:0!important;
}







