﻿/* menu */
#hamburger {
    z-index: 995;
    position: fixed;
    right: 2.604vw;
    top: 2.604vw;
    height: 28px;
    width: 45px;
    cursor: pointer;
}

#hamburger span {
    left: 0;
    width: 100%;
    height: 3px;
    display: block;
    opacity: 1;
    position: absolute;
    border-radius: 50px;
    background-color: white;
}

#hamburger span:nth-child(1) {
    top: 0px;
    transition: top 0.1s ease-out, opacity 0.1s ease-out 0.1s;
    opacity: 1;
}

#hamburger span:nth-child(2) {
    top: 12px;
    transform: rotate(0deg);
    transition-property: transform;
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: .22s;
}

#hamburger span:nth-child(3) {
    top: 12px;
    transform: rotate(0deg);
    transition-property: transform;
    transition-delay: .09s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: .22s;
}

#hamburger span:nth-child(4) {
    top: 24px;
    transition: top 0.1s ease-in, opacity 0.1s ease-in 0.1s;
    opacity: 1;
}

#hamburger.open span:nth-child(1) {
    top: 12px;
    transition: top 0.1s ease-in, opacity 0.1s ease-in 0.12s;
    opacity: 0;
}

#hamburger.open span:nth-child(2) {
    transform: rotate(315deg);
    transition-property: transform;
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: .22s;
}

#hamburger.open span:nth-child(3) {
    transform: rotate(405deg);
    transition-property: transform;
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: .22s;
}

#hamburger.open span:nth-child(4) {
    top: 12px;
    transition: top 0.1s ease-in, opacity 0.1s ease-in 0.12s;
    opacity: 0;
}

#menu {
    z-index: 990;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #0B0C10;
    min-width: 100%;
    min-height: 100%;
}

#menu .menu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin: 31.3vh 0;
}

#menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #C5C6C7;

    display: block;
}

.LogoHome {
    width: 100%;
}

#menu a:hover {
    color: #66FCF1;
}

.show {
    display: block !important;
}

