﻿/* extra responsiveness */

@media screen and (max-width:1620px) {
    .background {
        background: url(../img/achtergrondlogin_minimal.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        left: 0;
        top: 0;
        z-index: -9;
    }
}

@media screen and (min-width: 1350px) {
    .login {
        max-width: 29.062vw !important;
    }

    .register {
        max-width: 29.062vw !important;
    }
}

@media screen and (max-width: 1220px) and (min-width:1066px) {
    .trap span {
        font-size: 43px;
        line-height:54px;
    }

    .partyStartedLine {
        padding-left: 40px;
    }

    .orLine {
        padding-left: 66px;
    }

    .crashPartyLine {
        padding-left: 90px;
    }
}

@media screen and (max-width:1200px) {
    .queue-item-active {
        height: 30.4vh;
        margin: 6.403vh 3.125vw 6.40vh 3.125vw;
        color: white;
    }
}

@media only screen and (max-width: 1200px) {
    #first {
        order: 2;
    }

    #second {
        order: 1;
    }
}


@media screen and (max-width: 1065px) and (min-width:991px) {
    .trap span {
        font-size: 39px;
        line-height:45px;
    }

    .partyStartedLine {
        padding-left: 33px;
    }

    .orLine {
        padding-left: 53px;
    }

    .crashPartyLine {
        padding-left: 72px;
    }
}

@media screen and (max-width: 768px) {

    #content .loader .introBlock .introContent {
        top: 100px;
        left: 25px;
    }

    #content .loader .introBlock .introContent .title {
        font-size: 19.531vw;
        line-height: 19.531vw;
    }

    #content .loader .introBlock .introContent .title .extraTitle {
        top: 2.604vw;
        left: 16.666vw;
        font-size: 2.083vw;
        line-height: 2.083vw;
        letter-spacing: 1px;
    }

    #content .loader .introBlock .introContent .first {
        line-height: 19.531vw;
    }

    #content .loader .introBlock .introContent .first .title {
        font-size: 19.531vw;
    }

    #content .loader .introBlock .introContent .second {
        margin-left: 0px;
        line-height: 14.322vw;
    }

    #content .loader .introBlock .introContent .second .title {
        font-size: 14.322vw;
    }

    #content .loader .introBlock .introContent .third {
        margin-left: 0px;
        line-height: 14.322vw;
    }

    #content .loader .introBlock .introContent .third .title {
        font-size: 14.322vw;
    }
}

@media screen and (max-width: 991px) and (min-width:575px) {
    .trap span {
        font-size: 45px;
        line-height:55px;
    }

    .choiceLine {
        padding-left:0;
        padding-right:149px;
    }

    .partyStartedLine {
        padding-left: 0;
        
    }

    .orLine {
        padding-left: 0;
        padding-right: 230px;
    }

    .crashPartyLine {
        padding-left: 0;
        padding-right:50px;
    }

    .trap .trap-row {
        position: absolute;
        text-align: center;
        bottom: 10vw;
    }

    .buttons .buttons-row {
        position: absolute;
        bottom: 20vw;
    }

    .buttons .buttons-row > div > div {
        margin: auto;
    }
}

@media screen and (max-width: 575px) {
    .trap span {
        font-size: 26px;
        line-height:40px;
    }

    .choiceLine {
        padding-left: 0;
        padding-right:100px;
    }

    .partyStartedLine {
        padding-left: 0;
    }

    .orLine {
        padding-left: 0;
        padding-right:150px;
    }

    .crashPartyLine {
        padding-left: 0;
        padding-right:35px;
    }

    .trap .trap-row {
        position: absolute;
        text-align: center;
        bottom: 10vw;
    }

    .buttons .buttons-row {
        position: absolute;
        bottom: 20vw;
    }

    .buttons .buttons-row > div > div {
        margin: auto;
    }

    .login-row2 {
        margin-top: 0;
    }

    .register-row2 {
        margin-top: 0;
    }

    .forgot-password {
        margin-bottom: 3.201vh;
    }

    #second {
        height: 80vh;
    }

    .queue-item-active .album-cover {
        height: 40vh;
    }

    .queue-item-active .songcontrols {
        position: relative;
        bottom: 0;
        padding: 0 !important;
        margin: 0;
    }

    .queue-item-active .songcontrols > div {
        padding: 0;
    }

    .queue-item-active .song-info {
        padding: 0;
    }

    .queue-item-active .songinfo {
        padding: 2vh 0 0 0 !important;
        margin: 0;
    }

    .queue-item-active .songinfo > div {
        padding: 0;
    }

    .login {
        margin: 6vh 4vw 6vh 4vw;
        left: 0;
        padding: 20px;
    }

    .register {
        margin: 6vh 4vw 6vh 4vw;
        left: 0;
        padding: 20px;
    }

    .form-group {
        margin-bottom: 2rem;
    }
}

