﻿/* tv-mode */

.tv-mode {
    background-color: #0B0C10;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
}

.queue-item {
    background-color: #1F2833;
    height: 12vh;
    margin: 6.403vh 1.658vw 6.40vh 3.125vw;
    color: white;
    -webkit-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.67);
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.67);
    opacity: 0.6;
    transition: opacity .3s;
}

.queue-item:hover {
    opacity: 1;
}

.queue-item-active {
    height: 30.4vh;
    margin: 6.403vh 3.125vw 6.40vh 1.658vw;
    color: white;
}

.img-album-cover {
    height: 100%;
    width: 100%;
    color: white;
}

.album-cover {
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    z-index: 2;
}

.queue-item .song-info {
    padding: 2vh 1vw 2vh 2vw;
}

.queue-item {
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.queue-item .content {
    overflow: hidden;
    margin-bottom: 5px;
}

.queue-item .song-info .title {
    position: relative;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
    left: 0%;
    width: 100%;
    -webkit-transition: left 3s 0.5s, width 3s 0.5s;
    -moz-transition: left 3s 0.5s, width 3s 0.5s;
    transition: left 3s 0.5s, width 3s 0.5s;
}

.queue-item .song-info .artist {
    position: relative;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
    left: 0%;
    width: 100%;
    -webkit-transition: left 3s 0.5s, width 3s 0.5s;
    -moz-transition: left 3s 0.5s, width 3s 0.5s;
    transition: left 3s 0.5s, width 3s 0.5s;
}

.queue-item-active .song-info .title {
    position: relative;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1;
}

.queue-item-active .song-info .artist {
    position: relative;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
}

.autoscroll {
    left: -90% !important;
    width: 200% !important;
}

.queue-item .content {
    padding-left: 0px;
}

.queue-item-active .songinfo {
    padding-left: 3.125vw;
}

.queue-item-active .songcontrols {
    padding-left: 3.125vw;
}

.songcontrols {
    position: absolute;
    width: 100%;
    bottom: 0;
}

#progress {
    width: 100%;
    height: 1.5vh;
    background-color: white;
    border-radius: 25px;
    margin: 2vh 0 2vh 0;
}

.prev {
    float: left;
    height: 5vh;
    width: auto;
}

.pause {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 5vh;
    width: auto;
    transition: transform 0.3s;
}

.pause:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.next {
    float: right;
    height: 5vh;
    width: auto;
}

.LogoTvmode{
    position: absolute;
    display: flex;
    width: 190px;
    height: 72px;
    top: -130px;
    left: 13%;
}