﻿@page
@model Tunix.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Pages/Shared/_LayoutDashboard.cshtml";
}

<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>
    window.onSpotifyWebPlaybackSDKReady = () => {
      const token = '@Model.AccessToken';
      const player = new Spotify.Player({
        name: 'Tunix',
        getOAuthToken: cb => { cb(token); }
      });

      // Error handling
      player.addListener('initialization_error', ({ message }) => { console.error(message); });
      player.addListener('authentication_error', ({ message }) => { console.error(message); });
      player.addListener('account_error', ({ message }) => { console.error(message); });
      player.addListener('playback_error', ({ message }) => { console.error(message); });

      // Playback status updates
      player.addListener('player_state_changed', state => { console.log(state); });

      // Ready
      player.addListener('ready', ({ device_id }) => {
        console.log('Ready with Device ID', device_id);
      });

      // Not Ready
      player.addListener('not_ready', ({ device_id }) => {
        console.log('Device ID has gone offline', device_id);
      });

      // Connect to the player!
        player.connect();
    };
</script>
<main id="content">
    <div class="section">
        <div class="row searchBlock">
            <div class="row titleBlock">
                <div class="col-12 titleContainer">
                    <span>Discover</span>
                </div>
            </div>
            <div class="row inputBlock">
                <div class="col-12 inputContainer">
                    <input id="search" type="text" placeholder="Search">
                </div>
                <div class="col-12 searchContainer">
                    <div class="row searchResult">

                    </div>
                </div>
            </div>
            <div class="row scrollContainer">
                <div class="col-12 scrollanimation">
                    <div class="ScrollIcon">
                        <div class="Finger"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="row playlistBlock">

            <div class="row titleBlock">
                <div class="col-12 titleContainer">
                    <span>Playlist</span>
                </div>
            </div>

            <div class="col-12 coverOuter">
                <div class="coverInner">
                    <img src="" alt="">
                </div>
            </div>

            <div class="row queueBlock">
                <div class="col-9 queueContainer">
                    <ul class="playlist">
                        <li class="col-12" rel="1"><a>No Songs Found</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="row inspirationBlock">

            <div class="row titleBlock">
                <div class="col-12 titleContainer">
                    <span>Inspiration</span>
                </div>
            </div>

            <div class="row carouselBlock">

                <div class="col-12 slideOuter prevHide">
                    <div class="slideInner">
                        <img src="img/beerbongs.jpg">
                        <div class="slideInfo">
                            <span>Beerbongs and Bentleys</span>
                        </div>
                    </div>
                </div>

                <div class="col-12 slideOuter prevSecond">
                    <div class="slideInner">
                        <img src="img/scorpion.jpg">
                        <div class="slideInfo">
                            <span>Scorpion</span>
                        </div>
                    </div>
                </div>

                <div class="col-12 slideOuter prev">
                    <div class="slideInner">
                        <img src="img/thankyou.jpg">
                        <div class="slideInfo">
                            <span>Thank You, Next</span>
                        </div>
                    </div>
                </div>

                <div class="col-12 slideOuter selected">
                    <div class="slideInner">
                        <img src="img/senorita.jpg">
                        <div class="slideInfo">
                            <span>Señorita</span>
                        </div>
                    </div>
                </div>

                <div class="col-12 slideOuter next">
                    <div class="slideInner">
                        <img src="img/astroworld.jpg">
                        <div class="slideInfo">
                            <span>Astroworld</span>
                        </div>
                    </div>
                </div>

                <div class="col-12 slideOuter nextSecond">
                    <div class="slideInner">
                        <img src="img/starboy.jpg">
                        <div class="slideInfo">
                            <span>Starboy</span>
                        </div>
                    </div>
                </div>

                <div class="col-12 slideOuter nextHide">
                    <div class="slideInner">
                        <img src="img/divide.jpg">
                        <div class="slideInfo">
                            <span>Divide</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row consoleBlock">
                <div class="col-12 consoleContainer"><i class="fas fa-chevron-left"></i><i class="fas fa-chevron-right"></i></div>
            </div>

        </div>
    </div>

</main>
