﻿@page
@model Tunix.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutHome.cshtml";
}

    <main id="content">
        <section class="loader">
            <div class="backgroundBlock">
                <div class="backgroundContent">
                    <video autoplay muted loop class="backgroundVideo">
                        <source src="video/background.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="row introBlock">
                <div class="col-12 introContent">
                    <div class="col-12 extra title parText">
                        <span class="extraTitle">Welcome to </span>
                    </div>
                    <div class="col-12 first title parText">
                        <span class="title">Tunix</span>
                    </div>
                    <div class="col-12 second title parText">
                        <span class="title">Unite your</span>
                    </div>
                    <div class="col-12 third title parText">
                        <span class="title">playlists!</span>
                    </div>
                </div>
            </div>
            <div class="row arrowBlock">
                <div class="col-12 arrowContent">
                    <i class="fas fa-chevron-down"></i>
                </div>
            </div>
        </section>
        <section>
            <video autoplay muted loop class="background-home">
                <source src="video/bg.mp4" type="video/mp4">
            </video>
            <div class="row row-home">
                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 trap">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 trap-row">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 choiceLine" id="ChoiceLine">
                                    <span>Make your choice</span>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 partyStartedLine" id="PartyStartedLine">
                                    <span>Get your party started</span>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 orLine" id="OrLine">
                                    <span>Or join to</span>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 crashPartyLine" id="CrashPartyLine">
                                    <span>Crash the party</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 buttons">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 buttons-row">
                            <div class="row">
                                <div class="col-6 col-sm-5 col-md-4 col-lg-8 col-xl-7">
                                    <div class="PartyCodeBar">
                                        <input class="Bar" type="text" placeholder="PARTY CODE" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-sm-5 col-md-4 col-lg-8 col-xl-7">
                                    <button class="joinButton" id="JoinButton">Join party<i class="fas fa-angle-right pijltje"></i></button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-sm-5 col-md-4 col-lg-8 col-xl-7">
                                    <button class="createButton" id="CreateButton" onclick="location.href='/SpotifyLogin';">Create party<i class="fas fa-angle-right pijltje"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

