﻿@page
@model Tunix.SpotifyRequestModel
@{
    ViewData["Title"] = "SpotifyRequest";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>
    window.onSpotifyWebPlaybackSDKReady = () => {
      const token = '@Model.AccessToken';
      console.log('@Model.AccessToken');
      const player = new Spotify.Player({
        name: 'Tunix',
        getOAuthToken: cb => { cb(token); }
      });

      // Error handling
      player.addListener('initialization_error', ({ message }) => { console.error(message); });
      player.addListener('authentication_error', ({ message }) => { console.error(message); });
      player.addListener('account_error', ({ message }) => { console.error(message); });
      player.addListener('playback_error', ({ message }) => { console.error(message); });

      // Playback status updates
      player.addListener('player_state_changed', state => { console.log(state); });

      // Ready
      player.addListener('ready', ({ device_id }) => {
        console.log('Ready with Device ID', device_id);
      });

      // Not Ready
      player.addListener('not_ready', ({ device_id }) => {
        console.log('Device ID has gone offline', device_id);
      });

      // Connect to the player!
        player.connect();
    };
</script>
<div class="text-center" style="background-color:white;padding-bottom:50px">
    <h1>SpotifyRequest</h1>

    <form method="post">
        <input type="submit" asp-page-handler="Account" value="Get Info" />
    </form>
    <h1><b>Profile info</b></h1>
    @{ if (Model.Profile != null)
        {
            if (Model.Profile.DisplayName != null)
            {
                <p><b>Displayname:</b> @Model.Profile.DisplayName.ToString()</p>

                <br />
            }
            if (Model.Profile.Birthdate != null)
            {
                <p><b>Birthdate:</b> @Model.Profile.Birthdate.ToString()</p>
                <br />
            }
            if (Model.Profile.Country != null)
            {
                <p><b>Country:</b> @Model.Profile.Country.ToString()</p>
                <br />
            }
            if (Model.Profile.Email != null)
            {
                <p><b>Email:</b> @Model.Profile.Email.ToString()</p>
                <br />
            }
            if (Model.Profile.Images.Count != 0)
            {

                <p><b>Photo:</b><img src="@Model.Profile.Images[0].Url.ToString()" /></p>
                <br />
            }
            <hr>
        }
    }

    <h1><b>Track info</b></h1>

    @{
        if (Model.Track != null)
        {
            if (Model.Track.Album != null)
            {
                <p><b>Current Album:</b> @Model.Track.Album.Name.ToString()</p>
                <p>
                    <img src="@Model.Track.Album.Images[1].Url" />
                </p>
                <br />

            }

            if (Model.Track.Name != null)
            {
                <p><b>Current Track name:</b> @Model.Track.Name.ToString()</p>
                <br />
            }
            if (Model.Track.Artists != null)
            {
                <p><b>Current Artists:</b></p>
                foreach (var artist in Model.Track.Artists)
                {
                    <p><b>Name:</b> @artist.Name.ToString()</p>
                    <p><b>Type:</b> @artist.Type.ToString()</p>
                    <br />
                }
                <br />
            }
            if (Model.Track.Artists != null)
            {
                <p><b>Current Track type:</b> @Model.Track.Type.ToString()</p>
                <br />
            }
        }
    }
    <form method="post">
        <input type="submit" asp-page-handler="TriggerPlayback" value="Trigger" />
    </form>

    <form method="post">
        <input type="submit" asp-page-handler="Pause" value="Pause" />
    </form>

    <form method="post">
        <input type="submit" asp-page-handler="Play" value="Play" />
    </form>



    <form method="post">
        <table>
            <tr><th colspan="2">Search Function</th></tr>
            <tr>
                <td>Search Track</td>
                <td><input type="text" asp-for="@Model.SearchRequest" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Search" asp-page-handler="Search" /></td>
            </tr>
        </table>
    </form>
    <h1><b>Search Result</b></h1>

    @{
        if (Model.SearchResult != null)
        {
            foreach (var item in Model.SearchResult.Tracks.Items)
            {
                <p><b>item Name:</b>@item.Name.ToString()</p>
                <p><b>item Artists:</b></p>
                foreach (var artist in item.Artists)
                {
                    <p><b>Name:</b> @artist.Name.ToString()</p>
                }
                <img src="@item.Album.Images[2].Url" />
                <hr />
            }
        }
    }

</div>