﻿@page
@model TestModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center" style="background-color:white;padding-bottom:50px">
        @{
            if (Model.Result != null)
            {
                <div class="jumbotron">
                    <h1>NOTIFICATION</h1>
                    <p>@Model.Result</p>
                </div>
            }
        }
        @Model.code
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <form method="post" asp-page="Test">
            <table>
                <tr><th colspan="2">Login form</th></tr>
                <tr>
                    <td>Username</td>
                    <td><input type="text" asp-for="@Model.Username" /></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" asp-for="@Model.Password" /></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Login" asp-page-handler="Login" /></td>
                </tr>
            </table>
        </form>

        <form method="post" asp-page="Test">
            <table>
                <tr><th colspan="2">Register form</th></tr>
                <tr>
                    <td>Username</td>
                    <td><input type="text" asp-for="@Model.Username" /></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" asp-for="@Model.Password" /></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" value="Register" asp-page-handler="Register" /></td>
                </tr>
            </table>
        </form>
        <form asp-page-handler="request" method="post">
            <button class="btn btn-danger">Request</button>
        </form>
        <button><a href="/SpotifyLogin">Get Token</a></button>
        @{ if (Model.code != null)
            {
                <h1>AccessToken: @Model.code</h1>

            }
            else
            {
                <h1>No AccessToken</h1>
            }
        }
        <table style="margin:0 auto 20px auto">
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
            @{ if (Model.outputList != null)
                {
                    foreach (Models.Account account in Model.outputList)
                    {
                        <tr>
                            <td>@account.id</td>
                            <td>@account.username</td>
                            <td>@account.password</td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="3">Output is empty</td></tr>
                }
            }
        </table>
        <form method="post" asp-page="Test">
            <input type="text" asp-for="@Model.Query" />
            <input type="submit" value="Generate" asp-page-handler="Generate" />
        </form>
    </div>
