﻿@page
@model Tunix.Pages.Tv_modeModel
@{
    ViewData["Title"] = "Tv_mode";
    Layout = "~/Pages/Shared/_LayoutTVmode.cshtml";
}

<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script>
window.onSpotifyWebPlaybackSDKReady = () => {
    const token = '@Model.AccessToken';
    const player = new Spotify.Player({
    name: 'Tunix',
    getOAuthToken: cb => { cb(token); }
    });

    // Error handling
    player.addListener('initialization_error', ({ message }) => { console.error(message); });
    player.addListener('authentication_error', ({ message }) => { console.error(message); });
    player.addListener('account_error', ({ message }) => { console.error(message); });
    player.addListener('playback_error', ({ message }) => { console.error(message); });

    // Playback status updates
    player.addListener('player_state_changed', state => { console.log(state); });

    // Ready
    player.addListener('ready', ({ device_id }) => {
        console.log('Ready with Device ID', device_id);
        $.ajax({
            type: "GET",
            url: "tv_mode?handler=Queue",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { },
            success: function (response) {
                $("#first").empty();
                $("#second").empty();

                for (var i = 0; i < 4; i++) {
                    var content = "";

                    if (response[i].album.artists[1] != null) {
                        var feature = ' ft. ' + response[i].album.artists[1].name;
                    } else {
                        var feature = "";
                    }

                    if (i == 0) {
                        content +=  '<div class="row queue-item-active">';
                        content +=      '<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 album-cover">';
                        content +=          '<img src="' + response[i].album.images[1].url + '" alt="Album cover" class="img-album-cover">';
                        content +=      '</div>';
                        content +=      '<div class="col-12 col-sm-6 col-md-8 col-lg-8 col-xl-8 song-info">';
                        content +=          '<div class="row songinfo">';
                        content +=              '<div class="col-12 col-sm-12 col-md-12">';
                        content +=                  '<div class="title">' + response[i].name + '</div>';
                        content +=              '</div>';
                        content +=              '<div class="col-12 col-sm-12 col-md-12">';
                        content +=                  '<div class="artist">' + response[i].album.artists[0].name + feature + '</div>';
                        content +=              '</div>';
                        content +=          '</div>';
                        content +=          '<div class="row songcontrols">';
                        content +=              '<div class="col-12 col-sm-12 col-md-12">';
                        content +=                  '<canvas id="progress" max="100"></canvas>';
                        content +=              '</div>';
                        content +=              '<div class="col-4 col-sm-4 col-md-4">';
                        content +=                  '<img src="img/prev.png" alt="prev" class=" prev">';
                        content +=              '</div>';
                        content +=              '<div class="col-4 col-sm-4 col-md-4">';
                        content +=                  '<img id="' + response[i].id + '" onclick="PlayPause();" data="0" src="img/pause.png" alt="pause play" class="pause play">';
                        content +=              '</div>';
                        content +=              '<div class="col-4 col-sm-4 col-md-4">';
                        content +=                  '<img src="img/next.png" alt="next" class="next">';
                        content +=              '</div>';
                        content +=          '</div>';
                        content +=      '</div>';
                        content +=  '</div>';

                        $("#second").append(content);
                    } else {
                        content +=  '<div class="row queue-item">';
                        content +=      '<div class="col-3 col-sm-3 col-md-3 album-cover">';
                        content +=          '<img src="' + response[i].album.images[1].url + '" alt="Album cover" class="img-album-cover">';
                        content +=      '</div>';
                        content +=      '<div class="col-9 col-sm-9 col-md-9 song-info">';
                        content +=          '<div class="col-12 col-sm-12 col-md-12 content">';
                        content +=              '<div class="title">' + response[i].name + '</div>';
                        content +=          '</div>';
                        content +=          '<div class="col-12 col-sm-12 col-md-12 content">';
                        content +=              '<div class="artist">' + response[i].album.artists[0].name + feature + '</div>';
                        content +=          '</div>';
                        content +=      '</div>';
                        content +=  '</div>';

                        $("#first").append(content);
                    }
                }
            },
            failure: function (response) {
                alert(response);
            },
            complete: function (response) {
                PlaySong();
            }
        });
    });

    // Not Ready
    player.addListener('not_ready', ({ device_id }) => {
        console.log('Device ID has gone offline', device_id);
    });

    // Connect to the player!
    player.connect();

    function PlaySong() {
        var songId = $('.pause').attr('id');

        console.log("test");

        $.ajax({
            type: "GET",
            url: "Dashboard?handler=PlayQueue",
            contentType: "plain/text",
            dataType: "text",
            data: { 'Id': songId },
            success: function () {
            },
            failure: function (response) {
                alert(response);
            }
        });
    }
};
</script>

<div class="container-fluid tv-mode">
</div>

<div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4" id="first">
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8" id="second">
    </div>
</div>
<div class="row">
</div>

